<div class="container-fluid">
  <form>
    <h1 class="text-center">Create a cylinder</h1>
    <div class="row">
      <!-- radius -->
      <div class="col-sm-6"><label>Radius:</label></div>
      <div class="col-sm-6">
        <div class="form-group">
          <input 
            class="form-control" 
            type="text" 
            name="radius" 
            placeholder="radius" 
            required>
        </div>
      </div>
      <!-- plank step -->
      <div class="col-sm-6"><label>Plank step:</label></div>
      <div class="col-sm-6">
        <div class="form-group">
          <input 
            class="form-control" 
            type="text" 
            name="step" 
            placeholder="step" 
            required>
        </div>
      </div>
      <!-- height -->
      <div class="col-sm-6"><label>Height:</label></div>
      <div class="col-sm-6">
        <div class="form-group">
          <input 
            class="form-control" 
            type="text" 
            name="height" 
            placeholder="height" 
            required>	
        </div>
      </div>
      <!-- height step -->
      <div class="col-sm-6"><label>Height step:</label></div>
      <div class="col-sm-6">
        <div class="form-group">
          <input 
            class="form-control" 
            type="text" 
            name="heightStep" 
            placeholder="step on z axis" 
            required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block">Enviar</button>
    </div>
  </form>
  </div>