<!-- <a 
    class="btn btn-primary" 
    [routerLink]="['parameters', 'cylinder']"
    routerLinkActive="active">
    Cylinder
</a>
<a 
    class="btn btn-primary" 
    [routerLink]="['parameters', 'cuboid']"
    routerLinkActive="active">
    Cuboid
</a>
<a 
    class="btn btn-primary" 
    [routerLink]="['parameters', 'custom']"
    routerLinkActive="active">
    Custom
</a> -->
<div class="polygonCasesContainer clearfix">
    <!-- <ul class="clearfix"> -->
        <!-- <li> -->
            <a 
                class="btn btn-primary" 
                [routerLink]="['parameters', 'cylinder']"
                routerLinkActive="active">
                Cylinder
            </a>
        <!-- </li> -->
        <!-- <li> -->
            <a 
                class="btn btn-primary" 
                [routerLink]="['parameters', 'cuboid']"
                routerLinkActive="active">
                Cuboid
            </a>
        <!-- </li> -->
        <!-- <li> -->
            <a 
                class="btn btn-primary" 
                [routerLink]="['parameters', 'custom']"
                routerLinkActive="active">
                Custom
            </a>
        <!-- </li> -->
    <!-- </ul> -->
</div>


<!-- <p><a href="https://nraynaud.github.io/webgcode/" target="_blank">gcode simulator</a></p> -->
<router-outlet></router-outlet>