
<div class="row">
    <div class="col-sm-12" >
        <h1 class="text-center">Filler UI</h1>
        <div class="list-group" id="list-tab" role="tablist">
            <a 
                class="list-group-item list-group-item-action" 
                data-toggle="list" 
                role="tab" 
                [routerLink]="['parameters', 'cylinder']">
                Cylinder
            </a>
            <a 
                class="list-group-item list-group-item-action"  
                data-toggle="list" 
                role="tab"
                [routerLink]="['parameters', 'cuboid']">
                Cuboid
            </a>
            <a 
                class="list-group-item list-group-item-action"  
                data-toggle="list" 
                role="tab" 
                [routerLink]="['parameters', 'custom']">
                Custom
            </a>
        </div>
    </div>
    <div class="col-sm-12">
        <router-outlet></router-outlet>
    </div>
</div>

