


    <div class="row">
        <div class="col-sm-12">
          <br>
          <p>All parameters go in mm</p>
          <form [formGroup]="paramsForm" (ngSubmit)='onSubmit()'>
            <table class="table table-striped">
              <tbody>
                <!-- radius -->
                <tr>
                  <th scope="row">Side:</th>
                  <td>
                    <input 
                    class="form-control" 
                    type="number" 
                    placeholder="side" 
                    formControlName='side'>
                  </td>
                </tr>
                <!-- plank step -->
                <tr>
                  <th scope="row">Plank step:</th>
                  <td>
                    <input 
                    class="form-control" 
                    type="number" 
                    placeholder="step" 
                    formControlName='step'>
                  </td>
                </tr>
                <!-- height -->
                <tr>
                  <th scope="row">Height:</th>
                  <td>
                    <input 
                    class="form-control" 
                    type="number" 
                    placeholder="height" 
                    formControlName='height'>
                  </td>
                </tr>
                <!-- height step -->
                <tr>
                  <th scope="row">Height step:</th>
                  <td>
                    <input 
                    class="form-control" 
                    type="number" 
                    placeholder="step on z axis" 
                    formControlName='heightStep'>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="form-group">
              <button 
                class="btn btn-lg btn-primary btn-block"
                [disabled]="!paramsForm.valid">Enviar</button>
            </div>
          </form>
        </div> <!-- .col-sm-7 -->
        <!-- <div class="col-sm-12">
          <h1>SOME INFO</h1>
        </div> -->
      </div>
      