
  <!-- <div class="container-fluid" style="background-color: rgb(220,220,220)">
    <br>
    <app-parameters></app-parameters>
  </div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
          <div class="container-fluid">
            <br>
            <app-parameters></app-parameters>
          </div>
        </div>
    
        <div class="col-sm-3 ">
          <!-- <div class="container-fluid"> -->
            <app-output></app-output>
          <!-- </div> -->
        </div>
    
        <div class="col-sm-5" style="padding-right: 0;">
          <app-simulator></app-simulator>
        </div>
      </div>
</div>

