





<div class="container-fluid">



  <div class="row">
    <div class="col-sm-4">
      <div class="container-fluid">
          <!-- <div class="jumbotron" #header>
            <h1 class="text-center">Filler UI</h1>
          </div> -->
            
            
          <app-parameters></app-parameters>
      </div>
      <div class="container-fluid">
          <app-output></app-output>
      </div>
    </div>
    <div class="col-sm-8">
      <app-simulator></app-simulator>
    </div>
  </div>

</div>